*{ 
    margin : 0 ; 
    padding : 0 ;
    
}

body { 
    background : silver ;
    
}

header {
    display: flex;
    background: #353535;
    padding: 1%;
    
}


nav a {
    color: silver;
    margin: 1%;
    margin-left: 20%;
    text-decoration: none;
    
}

nav a:hover { 
    
    text-decoration :underline;
    
}

nav {
    display: flex;
    font-size: 110%;
    
}

.logo {
    color: white;
    margin-right: 40%;
    margin-left: 2%;
    font-size: 140%;
}


footer {
    background: #353535;
    text-align: center;
    padding: 1%;
    border-top: 3px solid #000;
}
main #content {
    color: black;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
}

footer {
    color: silver;
}


#logo {
    width: 2%;
    margin-left: 10%;
}